/* Estilos para a seção de login e registro */
#loginRegisterSection {
  background-color: #000;
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.loginRegisterWrapper {
  background-color: #333;
  padding: 40px;
  border-radius: 5px;
}

.loginRegisterContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginRegisterForm {
  width: 400px;
  margin: 20px;
  padding: 40px;
  background-color: #222;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

.loginRegisterForm h2 {
  margin-bottom: 20px;
}

.loginRegisterForm input[type="email"],
.loginRegisterForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: none;
}

.loginRegisterForm button {
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.loginRegisterForm p {
  margin-top: 20px;
}

.loginRegisterForm a {
  color: #ff0000;
}

/* Estilos para a seção do jogo */
#gameSection {
  background-color: #000;
  padding: 100px 0;
  color: #fff;
}

.gameWrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
